<section class="ui-kit-accordion"
         [ngStyle]="{'box-shadow': !isOpen ? '0px -1px 0px 0px #E0E0E0 inset' : 'none'}">
  
  <header>
    <div class="header-container">
      
      <div class="checkbox-container" (click)="$event.stopPropagation()">
        <input 
          type="checkbox" 
          id="{{contentId}}-checkbox" 
          class="accordion-checkbox-input"
          [checked]="checked"
          (change)="onCheckboxChange($event)"
        />
        <label class="checkbox-visual" [attr.for]="contentId + '-checkbox'"></label>
      </div>

      <div class="title-content-area" (click)="toggle()">
        <ng-content select="[custom-title]"></ng-content>
      </div>

      <span class="accordion-arrow" [class.up]="isOpen" (click)="toggle()"></span>

    </div>
  </header>

  <div class="ui-kit-accordion__container" 
       [class.open]="isOpen" 
       [id]="contentId" 
       [attr.arialabelledby]="contentId + '-header'">
    <div class="ui-kit-accordion__container__content">
      <ng-content></ng-content>
    </div>
  </div>
</section>