<form [formGroup]="form" class="tabela-container">
  <div formArrayName="clients">
    <div *ngFor="let client of clients.controls; let i = index" class="tabela-linha">
      <div [formGroupName]="i">
        <app-accordion formControlName="isSelected">
          
          <div custom-title class="titulo-formatado">
            <div class="identificacao-empresa">
              <span class="cnpj">{{ client.get('document')?.value }}</span>
              <span class="status-tag" [ngClass]="client.get('status')?.value.toLowerCase()">
                {{ client.get('status')?.value }}
              </span>
            </div>
            <div class="nome-empresa">{{ client.get('corporateName')?.value }}</div>
          </div>
          
          <div class="conteudo-accordion">
            <div formArrayName="accounts" class="accounts-table">
              <div class="accounts-header">
                <div class="header-item">Conta</div>
                <div class="header-item">Tipo de Conta</div>
                <div class="header-item">Modalidade</div>
                <div class="header-item">Perfil de Acesso</div>
              </div>

              <div *ngFor="let account of getAccountControls(client); let j = index">
              <div [formGroupName]="j" class="account-row">
                  <div class="cell">{{ account.get('accountNumber')?.value }}</div>
                  <div class="cell">{{ account.get('accountType')?.value }}</div>
                  <div class="cell">{{ account.get('accountModel')?.value }}</div>
                  <div class="cell">
                    <select formControlName="accessProfile">
                      <option [ngValue]="null">Selecione o Perfil</option>
                      <option *ngFor="let profile of client.get('profiles')?.value" [value]="profile.id">
                        {{ profile.name }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </app-accordion>
      </div>
    </div>
  </div>

  <div class="actions-container">
    <button type="button" (click)="onSubmit()">Salvar e Ver no Console</button>
  </div>
</form>

<pre>{{ form.value | json }}</pre>